*{
    list-style: none;
    text-decoration: none;
}
.navbar{
    background-color:rgb(16, 91, 135);
    width: 83%;
    float: right;
    text-align: center;
    right: 0;
    margin-top: 38px;
    border-radius: 20px;
}
.navbar ul{
    z-index: 10;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 90px; 
    font-size: 20px; 
    font-family: "Poppins"; 
}

.navbar ul li{
    font-family: "Poppins";
    display: inline-block;
    list-style: none;
}

.navbar li a:hover{
    background-color: rgba(255, 255, 255, 0.467); 
}

.a {
    list-style: none;
    text-decoration: none;
}

.section1{
    margin-top: 150px;
}

.librarymap{
    background: linear-gradient(#221B4D, #00598E);
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-bottom: 40%;
    padding-top: 2%;
    margin-top: -8%;
    margin-bottom: -6%;
    color: white;
    box-shadow: 1px 2px 20px black;
}

.librarymap{
    font-family: "Poppins";
    font-size: 25px;
}
.user-guidepart{
    display: flex;
}

.start{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: 280px;
    background-color:rgb(16, 91, 135);
    padding-left: 20px;
    padding-right: 23px;
    margin-top: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    font-family: "Poppins";
}

.start-button{
    margin-top: 50px;
}

.section2{
    margin-top: 140px;
    display: flex;
    padding-left: 320px;
    gap: 40px;
}
.rectangle{
    padding-right: 100px;
    background-color:rgb(16, 91, 135);
    color: rgb(16, 91, 135);
    padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 80px;
}
.large-text{
    font-family: "Poppins";
    font-size: 23px;
}

.section3{
    display: flex;
    gap: 70px;
    margin-top: 60px;
    margin-left: 320px;
}

.section3{
    display: flex;
    flex-direction: row-reverse
}

h.heading {
    margin-bottom: -50px;
    background-color: rgb(0, 0, 100);
    font-size: 25px;
    font-family: "Poppins";
}

.logo{
    size: 5%;
}

.footer{
    background-color:rgb(16, 91, 135);
    width: 100%;
    padding-bottom: 1%;
}
.footer-text{
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 10px;
    font-family: "Poppins"
}

.Contact-us{
    background-color: blueviolet;

}

.Reference{
    text-decoration: none;
}

.footer ul{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.footer ul li a{
    font-family: "Poppins";
    color: black;
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
    margin-right: 70px;
    margin-left: 40px;
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.footer ul li{
    list-style-type: none;
}

.title1{
    font-size: 30px;
    font-family: "Poppins";
    color:rgb(16, 91, 135);
    font-weight: bolder;
}

.start:hover{
    background-color: rgba(54, 114, 194, 0.467); 
    color: black;
}

.section-4{
    display: flex;
    gap: 100px;
    margin-left: 150px;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 25px;
    margin-top: 25px;
    color: #0c0056;
}
.subpart{
    font-weight: normal;
    color: black;
}

.part1{
    display: flex;
    flex-direction: column;
}

p.banner2{
    margin-left: 5%;
    margin-top: 8%;
    width: 10%;
    padding: 1%;
    color: white;
    text-align: center;
    border-radius: 50px;
    background-color: rgb(16, 91, 135);
    margin-right: 1400px;
    font-family: "Poppins";
}

.section4-1 {
    flex-direction: column;
    display: flex;
    gap: 30px;
}

.section8{
    color: yellow;
}

.connect{
    display: flex;
    gap: 10px;
}

.connect2 {
    display: flex;
    gap: 20px;
}

img#output {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    margin-top: -60%;
}

element.style {
    margin-bottom: 0px;
}
.zone {
    margin-bottom: 0px;
    margin-top: 0px;
}